#!/usr/bin/env bash
set -euo pipefail

# brew の PATH を補助（Mac / Linux）
if command -v brew >/dev/null 2>&1; then
  :
else
  if [ -x /opt/homebrew/bin/brew ]; then
    eval "$(/opt/homebrew/bin/brew shellenv)"
  elif [ -x /usr/local/bin/brew ]; then
    eval "$(/usr/local/bin/brew shellenv)"
  else
    echo "brew not found" >&2
    exit 1
  fi
fi


# fzf の補助スクリプト（ある場合だけ）
if brew --prefix fzf >/dev/null 2>&1; then
  FZF_INSTALL="$(brew --prefix fzf)/install"
  if [ -x "$FZF_INSTALL" ]; then
    "$FZF_INSTALL" --key-bindings --completion --no-update-rc
  fi
fi
