#!/usr/bin/env bash
set -euo pipefail

TOP_DIR="{{ .chezmoi.sourceDir }}"

{{- if eq .chezmoi.os "darwin" }}

{{- end }}

{{- if eq .chezmoi.os "linux" }}
sudo apt install -y $(cat $TOP_DIR/apt-packages.txt)
{{- end }}

