#!/usr/bin/env bash
set -euo pipefail

CONFIG_DIR="{{ .chezmoi.sourceDir }}/config"

{{- if eq .chezmoi.os "darwin" }}

{{- end }}

{{- if eq .chezmoi.os "linux" }}
sudo apt install -y $(cat $CONFIG_DIR/apt-packages.txt)
{{- end }}

